<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/quicksand.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/animate.min.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/chartist.min.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" href="/jira/plugins/servlet/static/css/nice-select.css">

    <title>Test case management app</title>
</head>

<body>
    <div class="loader-wrapper">
        <div class="loader-circle">
            <div class="loader-wave"></div>
        </div>
    </div>
    <div class="container-fluid">
        {{header}}
        <div class="row main-content">
            {{sideBar}}
            {{copyTemplate}}
        </div>
    </div>
    <script src="/jira/plugins/servlet/static/js/jquery.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/jquery-1.12.4.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/popper.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/bootstrap.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/sweetalert.js"></script>
    <script src="/jira/plugins/servlet/static/js/progressbar.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/jquery.flot.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/jquery.flot.pie.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/jquery.flot.categories.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/jquery.flot.stack.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/chart.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/chartist.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/chartist-data.js"></script>
    <script src="/jira/plugins/servlet/static/js/charts/demo.js"></script>
    <script src="/jira/plugins/servlet/static/js/maps/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/jira/plugins/servlet/static/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/jira/plugins/servlet/static/js/maps/jvector-maps.js"></script>
    <script src="/jira/plugins/servlet/static/js/calendar/bootstrap_calendar.js"></script>
    <script src="/jira/plugins/servlet/static/js/calendar/demo.js"></script>
    <script src="/jira/plugins/servlet/static/js/jquery.nice-select.min.js"></script>

    <script src="/jira/plugins/servlet/static/js/custom.js"></script>
    <script>
        $('.bulk-actions').niceSelect();
    </script>
</body>

</html>