<div class="col-sm-3 col-xs-6 sidebar pl-0">
    <div class="inner-sidebar mr-3">
        <div class="avatar text-center">
            <img src="/jira/plugins/servlet/static/img/user.png" alt="" class="rounded-circle" />
            <p><strong>Jonathan Clarke</strong></p>
            <span class="text-primary small"><strong>UI/UX Designer</strong></span>
        </div>

        <div class="sidebar-menu-container">
            <ul class="sidebar-menu mt-4 mb-4">
                <li class="parent">
                    <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i
                            class="fa fa-dashboard mr-3"> </i>
                        <span class="none">Dashboard<i class="fa fa-angle-down pull-right align-bottom"></i></span>
                    </a>
                    <ul class="children" id="dashboard">
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Default</a></li>
                        <li class="child"><a href="/jira/secure/Dashboard.jspa" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Jira dashboard</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i
                            class="fa fa-sitemap mr-3"> </i>
                        <span class="none">Sets <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                    </a>
                    <ul class="children" id="dashboard">
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Default</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Analytics</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Ecommerce</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Cryptocurrency</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i
                            class="fa fa-recycle mr-3"> </i>
                        <span class="none">Cycles <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                    </a>
                    <ul class="children" id="dashboard">
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Default</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Analytics</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Ecommerce</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Cryptocurrency</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#" onclick="toggle_menu('dashboard'); return false" class=""><i
                            class="fa fa-tasks mr-3"> </i>
                        <span class="none">Cases <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                    </a>
                    <ul class="children" id="dashboard">
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Default</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Analytics</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Ecommerce</a></li>
                        <li class="child"><a href="#" class="ml-4"><i class="fa fa-angle-right mr-2"></i>
                                Cryptocurrency</a></li>
                    </ul>
                </li>
                </li>
            </ul>
        </div>
        <!--Sidebar Naigation Menu-->
    </div>
</div>